build/
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
run/
*.iws
out/
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
.gradle/
output/
bin/
libs/

.kotlin
.idea/
classes/
.vscode
.architectury-transformer
gradle_client_output.txt
gradle_server_output.txt